* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  color: #333;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  align-items: center;
  z-index: 1000;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #153698;
}

/* Hero */
.hero {
  height: 100vh;
  background: linear-gradient(to right, #400899, #08ae4d);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.btn {
  background: white;
  color: #0ea9b5d0;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #f1f1f1;
}

/* Sections */
.section {
  padding: 5rem 3rem;
  text-align: center;
}

.gray {
  background: #f4f4f4;
}

/* Projects */
.projects-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.project-card {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* Contact */
.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form button {
  margin-top: 1rem;
}

/* Footer */
.footer {
  background: #111;
  color: white;
  padding: 1rem;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
  }

  .hero h1 {
    font-size: 2rem;
  }
}